alias update="sudo apt update"
alias upgrade="sudo apt upgrade"
alias autoremove="sudo apt autoremove"
alias install="sudo apt install"
alias remove-residual="sudo apt purge $(dpkg -l | grep '^rc' | awk '{print $2}')"

alias gs="git status"
alias gp="git push"
alias gpom="git pull origin main"
alias gd="git diff"
alias gco="git checkout"
alias gb="git branch"
alias gm="git merge"

alias config="/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME"
alias confa="config add ."
alias confb="config branch"
alias confcm="config commit -a -m"
alias confco="config checkout"
alias confd="config diff -M"
alias confl="config log"
alias confm="config merge"
alias confpull="config pull origin main"
alias confpush="config push"
alias confs="config status"

if [ -x "$(command -v colorls)" ]; then
    alias ls="colorls"
    alias la="colorls -al"
fi

alias qtileconfig="nvim ~/.config/qtile/config.py"
alias awesomeconfig="nvim ~/.config/awesome/rc.lua"
alias zshconfig="nvim ~/.config/zsh/.zshrc"
alias nvimconfig="nvim ~/.config/nvim/init.lua"

alias watch-gpu="watch -n1 nvidia-smi"

alias start-docker="sudo systemctl start docker.socket"
alias status-docker="systemctl status docker.socket"
alias stop-docker="sudo systemctl stop docker.socket"
alias start-mysql="sudo systemctl start mysql"
alias status-mysql="systemctl status mysql"
alias stop-mysql="sudo systemctl stop mysql"

