---
# Prepare playbook for Rocky Linux 9
- name: Prepare
  hosts: all
  gather_facts: true

  tasks:
    - name: Install required packages for testing
      ansible.builtin.dnf:
        name:
          - python3
          - sudo
        state: present
