---
# RedHat/Rocky/Fedora cargo packages

- name: Define cargo packages to install
  ansible.builtin.set_fact:
    cargo_packages:
      - name: exa
        bin: exa
      # git-delta available in dnf, skip here
      - name: rm-improved
        bin: rip
      - name: topgrade
        bin: topgrade
      - name: xcp
        bin: xcp
      # - name: procs
      #   bin: procs
      # - name: tokei
      #   bin: tokei
      # - name: xh
      #   bin: xh
      # - name: yazi-fm
      #   bin: yazi
      # - name: zellij
      #   bin: zellij
      - name: zoxide
        bin: zoxide
