---
# Source zshrc depending on the location

- name: Check if .zshrc exists in home directory
  ansible.builtin.stat:
    path: "{{ ansible_facts['user_dir'] }}/.zshrc"
  register: zshrc_home

- name: Check if .zshrc exists in .config/zsh
  ansible.builtin.stat:
    path: "{{ ansible_facts['user_dir'] }}/.config/zsh/.zshrc"
  register: zshrc_config

- name: Initialize zsh shell from home directory
  ansible.builtin.shell: zsh -c 'source ~/.zshrc'
  args:
    executable: /bin/bash
  changed_when: false
  failed_when: false
  when: zshrc_home.stat.exists

- name: Initialize zsh shell from .config/zsh
  ansible.builtin.shell: zsh -c 'source ~/.config/zsh/.zshrc'
  args:
    executable: /bin/bash
  changed_when: false
  failed_when: false
  when: not zshrc_home.stat.exists and zshrc_config.stat.exists
