---
# Single molecule configuration with configurable platform
# Usage:
#   molecule test                                    # Ubuntu 24.04 (default)
#   MOLECULE_IMAGE=geerlingguy/docker-ubuntu2204-ansible molecule test
#   MOLECULE_IMAGE=geerlingguy/docker-rockylinux9-ansible molecule test
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: instance
    image: ${MOLECULE_IMAGE:-geerlingguy/docker-ubuntu2404-ansible}
    pre_build_image: true
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    docker_host: ""

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../roles
  playbooks:
    prepare: prepare.yml
    converge: converge.yml
    verify: verify.yml
  config_options:
    defaults:
      roles_path: ../../roles
  inventory:
    hosts:
      all:
        hosts:
          instance:
            ansible_user: root
    group_vars:
      all:
        user_email: "test@example.com"
        user_fullname: "Test User"
        user_passphrase: "test-passphrase"

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - destroy
