---
# Configure SSH

- name: Generate ssh key id_ed25519
  ansible.builtin.command: ssh-keygen -t ed25519 -C "{{ user_email }}" -f "{{ ansible_facts['user_dir'] }}/.ssh/id_ed25519" -N ""
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.ssh/id_ed25519"

- name: Copy SSH configuration for Keychain Manager
  ansible.builtin.copy:
    src: files/ssh_keychain.bashrc
    dest: "{{ ansible_facts['user_dir'] }}/.bashrc.d/1_ssh_keychain.bashrc"
    mode: "0600"
