---
# Configure Git

- name: Get current git user.name
  ansible.builtin.command: git config --global user.name
  register: git_user_name
  changed_when: false
  failed_when: false

- name: Get current git user.email
  ansible.builtin.command: git config --global user.email
  register: git_user_email
  changed_when: false
  failed_when: false

- name: Get current git core.autocrlf
  ansible.builtin.command: git config --global core.autocrlf
  register: git_autocrlf
  changed_when: false
  failed_when: false

- name: Configure git user.name
  ansible.builtin.command: git config --global user.name "{{ user_fullname }}"
  when: git_user_name.stdout != user_fullname
  changed_when: true

- name: Configure git user.email
  ansible.builtin.command: git config --global user.email "{{ user_email }}"
  when: git_user_email.stdout != user_email
  changed_when: true

- name: Configure git core.autocrlf
  ansible.builtin.command: git config --global core.autocrlf input
  when: git_autocrlf.stdout != "input"
  changed_when: true
