---
# Arch Linux - Install and configure Docker

- name: Check if Docker is installed
  ansible.builtin.shell: command -v docker
  register: docker_check
  failed_when: false
  changed_when: false

- name: Install Docker packages
  become: true
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - docker-buildx
    state: present
  when: docker_check.rc != 0

- name: Add docker group
  become: true
  ansible.builtin.group:
    name: docker
    state: present

- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: docker
    append: yes

- name: Enable docker service
  become: true
  ansible.builtin.service:
    name: docker
    enabled: yes
    state: started
  when: ansible_facts['virtualization_type'] != "docker"
