---
# Install Docker
- name: Download Docker if not already installed
  become: true
  shell: |
    curl -fsSL https://get.docker.com -o - | bash
  args:
    executable: /bin/bash
    creates: /usr/bin/docker

- name: Add docker group
  become: true
  group:
    name: docker
    state: present

- name: Get the current user running the deploy
  become: false
  shell: whoami
  register: current_username

- name: Add user to docker group
  become: true
  user:
    name: "{{ current_username.stdout }}"
    groups: docker
    append: yes
