---
# Start Docker/Podman service

# Debian/Ubuntu - Docker
- name: Enable docker service (Debian)
  become: true
  ansible.builtin.service:
    name: docker
    enabled: yes
    state: started
  when:
    - ansible_facts['os_family'] == "Debian"
    - ansible_facts['virtualization_type'] != "docker"

# RedHat/Rocky - Podman (runs as rootless, socket activation)
- name: Enable podman socket for user (RedHat)
  become: true
  ansible.builtin.systemd:
    name: podman.socket
    enabled: yes
    state: started
    scope: system
  when:
    - ansible_facts['os_family'] == "RedHat"
    - ansible_facts['virtualization_type'] != "docker"
  failed_when: false
