---
# Start Docker service
- name: Enable docker service
  become: true
  ansible.builtin.service:
    name: docker
    enabled: yes
    state: started
  when: ansible_virtualization_type != "docker"
