---
- name: Configure Workstation
  hosts: workstations
  vars_files:
    - secrets.yml
  roles:
    - discover
    - base
    - git
    - shell
    - github
    - cargo
    - tools
    - dotfiles
    - docker
  post_tasks:
    - name: Ensure bashrc.d directory exists
      ansible.builtin.file:
        path: "{{ ansible_facts['user_dir'] }}/.bashrc.d"
        state: directory
        mode: "0755"

    - name: Copy GH CLI Auth Token
      ansible.builtin.copy:
        src: roles/github/files/gh_auth_token.bashrc
        dest: "{{ ansible_facts['user_dir'] }}/.bashrc.d/9_gh_auth_token.bashrc"
        mode: "0600"

    - name: Display shell change notification
      ansible.builtin.debug:
        msg: "{{ shell_changed_message }}"
      when: shell_changed_message is defined

    - name: Display cargo installation failure warning
      ansible.builtin.debug:
        msg: |
          WARNING: Cargo package installation failed!
          Packages that failed to install: {{ missing_cargo_packages | join(', ') }}
          Error: {{ cargo_install_error }}
          You can retry manually with: cargo install {{ missing_cargo_packages | join(' ') }} --locked
      when: cargo_install_failed | default(false)
