---
- name: Configure Local
  hosts: local
  vars_files:
    - secrets.yml
  roles:
    - discover
    - base
    - git
    - shell
    - github
    - cargo
    - tools
    - dotfiles
    - docker
  post_tasks:
    - name: Display shell change notification
      ansible.builtin.debug:
        msg: "{{ shell_changed_message }}"
      when: shell_changed_message is defined
