- name: Configure WSL
  hosts: wsl
  vars_files:
    - secrets.yml
  roles:
    - discover
    - devenv
    - docker
  post_tasks:
    - name: Display shell change notification
      debug:
        msg: "{{ shell_changed_message }}"
      when: shell_changed_message is defined
