---
# tasks file for roles/discover

- name: Assert running on supported system
  ansible.builtin.assert:
    that: ansible_facts['os_family'] in ["Debian", "RedHat", "Archlinux"]
    fail_msg: "This playbook only supports Debian-based (Ubuntu, Debian), RedHat-based (Rocky, CentOS, Fedora), and Arch-based systems"
  tags:
    - always

- name: Detect WSL environment
  ansible.builtin.import_tasks:
    file: detect_wsl.yml
  tags:
    - discover
    - wsl

- name: Discover Vault configuration
  ansible.builtin.import_tasks:
    file: vault_configuration.yml
  tags:
    - discover
    - vault

- name: Configure bashrc
  ansible.builtin.import_tasks:
    file: configure_bashrc.yml
  tags:
    - discover
    - bashrc
